.wrapCard{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: rgba(228, 135, 28, 0.589);
 padding: 10px;
 border: 2px solid black;
 border-radius: 16px;
 gap: 20px;
 transition: all 200ms ease-in-out;
 
}

.wrapCard:hover{
    box-shadow:rgba(0, 0, 0, 0.466) 0px 54px 55px, rgba(0, 0, 0, 0.932) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.roundImg{
    width: auto;
    height: 400px;
    border-radius: 8px;

}


@media (width >= 768px){
  .wrapCard{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(190, 81, 190, 0.527);
    padding: 10px;
    border: 5px solid black;
    border-radius: 16px;
    gap: 20px;
    transition: all 200ms ease-in-out;
}

  }
