.title{
    font-size: 4rem;
    text-shadow: 0px 3px 20px rgba(196, 141, 24, 0.664);
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.wrapinput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
    gap: 10px;
}




@media (width <= 768px){
    .title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px rgb(1, 141, 255);
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.cardTitle{
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 3px 20px rgb(164, 219, 255);
    width: 100%;
    text-align: center;
}


    }
