.title{
    font-size: 4rem;
    text-shadow: 0px 3px 20px rgb(240, 172, 25);
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.wrapinput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
    gap: 10px;
}




@media (width <= 768px){
    .title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px rgb(1, 141, 255);
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

    }
